<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>基本的なレイアウト</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="container">
    <header id="header">
      <h1>基本的なレイアウト</h1>
      <p>ここはヘッダー</p>
    </header>
    <div id="contents">

      <main id="main">
        <h2>メインコンテンツ</h2>
        <p>ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。ここはメインコンテンツ。</p>
      </main>

      <aside id="side">
        <h2>補足コンテンツ</h2>
        <p>ここは補足コンテンツ。ここは補足コンテンツ。ここは補足コンテンツ。ここは補足コンテンツ。ここは補足コンテンツ。ここは補足コンテンツ。</p>
      </aside>

    </div>
    <!-- /#contents-->

    <footer id="footer">
      <p>ここはフッター</p>
    </footer>
  </div>
  <!-- /#container-->
</body>
</html>