body {
    font-family: 游明朝, "ヒラギノ明朝 ProN w3", HG明朝E, serif;
    letter-spacing: 1.5;
    background-image: url(images/bg-washi.png);
    color: #333333;
}

.heading {
    background-image: url(images/bg-moyou.png);
    background-repeat: no-repeat;
    background-position: 5% top;
}

.theme-white {
    background-color: white;
}

.theme-dark {
    background-color: #333333;
    color: white;
}