/* ===========================
  基本セレクタ
=========================== */
/* 全称セレクタ */
* {
  font-size: 100%;
}

/* ===========================
  擬似クラス
=========================== */
/* 未訪問の時 */
a:link {
  color: blue;
}

/* 訪問済みの時 */
a:visited {
  color: green;
}

/* マウスが乗った時 */
a:hover {
  color: red;
}

/* クリックしている時 */
a:active {
  text-decoration: none;
}

/* ===========================
  結合子
=========================== */
/* グループセレクタ */
h1,h2 {
  font-family: serif;
}

/* 子孫セレクタ */
#box1 p {
  color: #666666;
}