* {
  margin: 0;
  padding: 0;
  
}

body {
  background-color: #eee;
}

#header {
  background-color: #fff;
}

#header h1 {
  padding: 1em;
  font-size: 1.25em;
}

#container {
  width: 960px;
  margin: 0 auto;
}

#global-nav {
  background-color: navy;
}

#global-nav ul {
  overflow: hidden;
  list-style-type: none;
}

#global-nav li {
  float: left;
  width: 20%;
}

#global-nav a {
  display: block;
  padding: 1em 0;
  text-align: center;
  color: white;
  text-decoration: none;
}

#global-nav a:hover {
  background-color: aquamarine;
}

#global-nav li + li a {
  border-left: 1px solid white;
}